@model IEnumerable<TaxBackApp.Models.TaskComment>

@{
    ViewData["Title"] = "Index";
}

<p>
    <h1 style="display:inline-block">Comments</h1>
    <a asp-action="Create"><img class="img-thumbnail" src="~/Images/add.png" style="width:64px" /></a>
</p>
<table class="table table-hover table-reflow">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskCommentDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskCommentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReminderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskEntry)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskCommentDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskCommentType.TaskCommentTypeDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReminderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskEntry.TaskEntryDescription)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TaskCommentId"><img class="img-thumbnail" src="~/Images/Edit.png" style="width:32px" /></a>
                    <a asp-action="Delete" asp-route-id="@item.TaskCommentId"><img class="img-thumbnail" src="~/Images/Delete.png" style="width:32px" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>
